<h1>Pirate's Name: <%= @name %></h1>

<p>
Pirate's Weight: <%= @weight %>
Pirate's Height: <%= @height %>
</p>


<% @ships.each do |ship| %>
    <%=ship[:name]%>
    <%=ship[:type]%>
    <%=ship[:booty]%>
<% end %>